{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1 style="font-family: 'Trirong', sans-serif; padding-left: 20px;">Register</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label style="color: aliceblue;">{{form.username.label}}</label>
        {{form.username}}

        <label style="color: aliceblue;">{{form.password1.label}}</label>
        {{form.password1}}

        <label style="color: aliceblue;">{{form.password2.label}}</label>
        {{form.password2}}
        <input style="margin-top:10px ;" class="button" type="submit" value="Register">
    </form>
    <p style="color: aliceblue;">Already have an account? <a href="{% url 'login' %}" style="color: aliceblue;">Login</a></p>
</div>




{% endblock content %}